#imgtag {
    position: relative;
    cursor: crosshair;
}

#imgtag1 {
    position: relative;
    cursor: pointer;
}

#tagit {
	position:absolute;
	top:0;left:0;
	width:250px;
}

#tagit .box {
    border: solid 3px #94ab1d;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #94ab1d;
    float: initial;
}


.tagview {
    border: solid 3px #94ab1d;
    width: 20px;
    height: 20px;
    position: absolute;
    opacity: 0.5;
    border-radius: 50px;
    background-color: #94ab1d;
}

.tagview:hover {
	border: solid 3px #94ab1d;
  	opacity: 100;
}